rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && resource.data.tenantId == request.auth.uid;
    }
    match /connections/{id} {
      allow read: if isOwner();
      allow write: if false;
    }
    match /contacts/{id} {
      allow read: if isOwner();
      allow write: if false;
    }
    match /messages/{id} {
      allow read: if isOwner();
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
